APP_NAME='innermindco'
APP_VERSION='1.0.0'
HOST='127.0.0.1'
LOG_LEVEL=debug
NODE_ENV='development'
NODE_OPTIONS=
PORT=8080
SECRET='SecretCodeGoesHere'
TIMEZONE='America/New_York'

DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_URL=
DB_URL_PRODUCTION=
DB_URL_STAGING=
DB_URL_TEST=

MONGODB_NAME=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=

ESLINT_USE_FLAT_CONFIG=false
BROWSERSLIST=
BROWSERSLIST_ENV=
BROWSERSLIST_CONFIG=./.browserslistrc
