# .npmrc
# Configuration for pnpm.

engine-strict=true

ignore-scripts=true

package-lock=true

# Uses the exact version instead of any within-patch-range version of an
# installed package.
save-exact=false

# Do not error out on missing peer dependencies.
strict-peer-dependencies=true
auto-install-peers=true

scope=
registry=https://registry.npmjs.org
